.table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
  
.jumbotron{
    background: linear-gradient(to left,#929292, #e0e0e0)  
  }
#logo {
    font-family: 'oswald';
    color: rgb(12, 12, 12);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1;
    /* text-shadow: rgb(66, 64, 64) 3px 2px 0; */
    position: relative;
}
form{
    padding: 20px;
}